{

    plugins: [
        "./log.js",
        "./replace.js",
        "./fakeDir.js"
    ],
    markup: [
        {
            hrefRegExp: "http://(www\\.)?example.com/",
            replace: {
                what: "h1",
                markup: "<h1>Hello from magicProxy!</h1>"
            }
        }, {
            hrefRegExp: "http://(www\\.)?example.com/",
            insert: {
                markup: "<p><small>This paragraph was inserted through magicProxy. You can edit magicproxyrc.example (without restarting magicProxy) and see this change.</small></p>",
                after: "h1"
            }
        }
    ],
    fakeDir: [
        {
            "url": "http://www.example.com/static/files/",
            "dir": "/path/to/my/version/of/those/files/",
            "contentType": "text/javascript"
        }
    ],
    replace: [
        {
            replace: "http://www.example.com/js/main.js",
            with: "alert('Hey it seems like the proxy works!');",
            contentType: "text/javascript"
        },
        {
            replaceRegExp: "^http://www.example.com/css/(.*?).min.css$",
            withFile: "/path/to/unminified/$1.css",
            contentType: "text/css"
        }
    ]
}
